{% extends "base_main.html" %}
{% load static %}

{% block titleblock %}
	Caskmedia
{% endblock  %}

{% block metablock %}
	<meta name="description" content="description">
	<meta name="author" content="">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="article">
	<meta property="og:url" content="url">
	<meta property="og:title" content="title">
	<meta property="og:description" content="description">
	<meta property="og:image" content="website image">
	<meta property="article:published_time" content="time" />
	<meta property="article:modified_time" content="time" />

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="url">
	<meta property="twitter:title" content="title">
	<meta property="twitter:description" content="description">
	<meta property="twitter:image" content="website image">

	<meta name="google-site-verification" content="google-site-verification" />

{% endblock %}

{% block cssblock %}
	<!-- Bootstrap core CSS -->
	<link href="{% static 'assets/css/bootstrap.min.css' %} " rel="stylesheet">
	<!-- Fonts -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="{% static 'assets/css/main.css' %} " rel="stylesheet">
{% endblock %}

{% block iconblock %}
	{{ siteconfig.icon }}
{% endblock %}

{% block content %}

{% block navbarblock %}
	{% include 'components/nav_bar_component.html' %}
{% endblock %}


<div class="container">	
<!-- Begin Site Title
================================================== -->
	<div class="mainheading">
		<h1 class="sitetitle"> {{ siteconfig.name }} </h1>
		<p class="lead">
			{% autoescape off %}
			{{ siteconfig.aboutme }}
			{% endautoescape %}
		</p>
	</div>
<!-- End Site Title
================================================== -->

	<!-- Begin Featured
	================================================== -->
	<section class="featured-posts">
	<div class="section-title">
		<h2><span>Featured</span></h2>
	</div>
	<div class="card-columns listfeaturedtag">

		<!-- begin post -->

		{% for  post in featured %}
		<div class="card">
			<div class="row">
				<div class="col-md-5 wrapthumbnail">
					<a href="{% url 'home' %}blog/{{ post.slug }}/">
						<div class="thumbnail" style="background-image:url({{ siteconfig.image_base_url }}{{ post.thumbnail }});">
						</div>
					</a>
				</div>
				<div class="col-md-7">
					<div class="card-block">
						<h2 class="card-title"><a href="{% url 'home' %}blog/{{ post.slug }}/">{{ post.title }}</a></h2>
						<h4 class="card-text">{{ post.meta_description }}</h4>
						<div class="metafooter">
							<div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="{% url 'author' %}"><img class="author-thumb" src="{{ siteconfig.icon }}" alt="{{ siteconfig.name }}"></a>
								</span>
								<span class="author-meta">
								<span class="post-name"><a href="{% url 'author' %}">{{ siteconfig.name }}</a></span><br/>
								<span class="post-date">{{ post.updated_on }}</span><span class="dot"></span><span class="post-read"></span>
								</span>
								<span class="post-read-more"><a href="{% url 'home' %}blog/{{ post.slug }}/" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<!-- end post -->

	</div>
	</section>
	<!-- End Featured
	================================================== -->

	<!-- Begin List Posts
	================================================== -->
	<section class="recent-posts">
	<div class="section-title">
		<h2><span>All Stories</span></h2>
	</div>
	<div class="card-columns listrecent">

		<!-- begin post -->
		{% for  post in all_stories %}
		<div class="card">
			<a href="{% url 'home' %}blog/{{ post.slug }}/">
				<img class="img-fluid" src="{{ siteconfig.image_base_url }}{{ post.thumbnail }}" alt="{{ post.title }}">
			</a>
			<div class="card-block">
				<h2 class="card-title"><a href="{% url 'home' %}blog/{{ post.slug }}/">{{ post.title }}</a></h2>
				<h4 class="card-text">{{ post.meta_description }}</h4>
				<div class="metafooter">
					<div class="wrapfooter">
						<span class="meta-footer-thumb">
						<a href="{% url 'author' %}"><img class="author-thumb" src="{{ siteconfig.icon }}" alt="{{ siteconfig.name }}"></a>
						</span>
						<span class="author-meta">
						<span class="post-name"><a href="{% url 'author' %}">{{ siteconfig.name }}</a></span><br/>
						<span class="post-date">{{ post.updated_on }}</span><span class="dot"></span><span class="post-read"></span>
						</span>
						<span class="post-read-more"><a href="{% url 'home' %}blog/{{ post.slug }}/" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<!-- end post -->

	</div>
	</section>
	<!-- End List Posts
	================================================== -->

	{% comment %} <!-- Begin Footer
	================================================== -->
	<div class="footer">
		<p class="pull-left">
			 Copyright &copy; 2022 caskmedia.malcod.xyz
		</p>
		<p class="pull-right">
			 crated by <a target="_blank" href="https://malcod.xyz">malcodt</a>
		</p>
		<div class="clearfix">
		</div>
	</div>
	<!-- End Footer
	================================================== --> {% endcomment %}

</div>
<!-- /.container -->
{% block footer %}
	{% include 'components/footer.html' %}
{% endblock footer %}
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
{% endblock %}


